html, body{
	overflow: hidden;
}

body {
  background-color: #003e5b;
}

#info, #p_time, #p_name, #p_fps, #p_coords, #p_spd0, #p_spd1, #p_spd2, #p_spd3, #p_laps0, #p_laps1, #p_laps2, #p_laps3, #p_check, #p_finish0, #p_finish1, #p_finish2, #p_finish3, #p_Resolution, #p_SharpPixels {
	position: absolute;
	z-index: 100;
	display:block;
	color:red;
	font-weight: bold;
	font-size:1.4vw;
	font-family:verdana;
}

#info{
	color:white;
	left: 8%;
	top: 88%;
	font-size:2vw;
}

#img_itemSlot0-0, #img_itemSlot0-1, #img_itemSlot0-2 {
	position: absolute;
	left: 2%;
	top: 3%;
	width: 15vw;	
	height: 11vw;

	display: none;
}
#img_item0-0 {
	position: absolute;
	left: 3%;
	top: 8%;
	width: 7vw;
	height: 6vw;

	overflow: hidden;
	display: none;
}
#img_item0-1 {
	position: absolute;
	left: 10.9%;
	top: 6.5%;
	width: 5vw;
	height: 5vw;

	overflow: hidden;
	display: none;
}

#img_itemSlot1-0, #img_itemSlot1-1, #img_itemSlot1-2 {
	position: absolute;
	right: 2%;
	top: 3%;
	width: 15vw;
	height: 11vw;

	display: none;
}
#img_item1-0 {
	position: absolute;
	right: 9%;
	top: 8%;
	width: 7vw;
	height: 6vw;

	overflow: hidden;
	display: none;
}
#img_item1-1 {
	position: absolute;
	right: 3.1%;
	top: 6.5%;
	width: 5vw;
	height: 5vw;

	overflow: hidden;
	display: none;
}

#img_itemSlot2-0, #img_itemSlot2-1, #img_itemSlot2-2 {
	position: absolute;
	left: 2%;
	top: 50%;
	width: 15vw;	
	height: 11vw;

	display: none;
}
#img_item2-0 {
	position: absolute;
	left: 3%;
	top: 55%;
	width: 7vw;
	height: 6vw;

	overflow: hidden;
	display: none;
}
#img_item2-1 {
	position: absolute;
	left: 10.9%;
	top: 53.5%;
	width: 5vw;
	height: 5vw;

	overflow: hidden;
	display: none;
}

#img_itemSlot3-0, #img_itemSlot3-1, #img_itemSlot3-2 {
	position: absolute;
	right: 2%;
	top: 50%;
	width: 15vw;
	height: 11vw;

	display: none;
}
#img_item3-0 {
	position: absolute;
	right: 9%;
	top: 55%;
	width: 7vw;
	height: 6vw;

	overflow: hidden;
	display: none;
}
#img_item3-1 {
	position: absolute;
	right: 3.1%;
	top: 53.5%;
	width: 5vw;
	height: 5vw;

	overflow: hidden;
	display: none;
}

#p_fps {
	top: 27%;
}

#p_coords {
	top: 32%;
}

#p_check {
	top: 37%;
}

#p_name {
	top: 42%;
}

#p_time {
	position: absolute;
	font-size: 2.5vw;
	
	color:white;
	text-shadow:
		-.18vw -.18vw 0 black,
		 .18vw -.18vw 0 black,
		-.18vw  .18vw 0 black,
		 .18vw  .18vw 0 black;
	
	top: 0.05%;
	left: 75.5%; 
}

#p_laps0, #p_laps1, #p_laps2, #p_laps3 {
	position: absolute;
	font-size: 2.5vw;
	
	color:white;
	text-shadow:
		-.18vw -.18vw 0 black,
		 .18vw -.18vw 0 black,
		-.18vw  .18vw 0 black,
		 .18vw  .18vw 0 black;
	
	top: 9%;
	left: 83%; 
}

#p_spd0, #p_spd1, #p_spd2, #p_spd3 {
	position: absolute;
	font-size: 3.0vw;
	
	color:white;
	text-shadow:
		-.18vw -.18vw 0 black,
		 .18vw -.18vw 0 black,
		-.18vw  .18vw 0 black,
		 .18vw  .18vw 0 black;
	
	bottom: 1%;
	left: 83%; 
}

#p_finish0, #p_finish1, #p_finish2, #p_finish3 {
	top: 25%;
	width: 100%;
	text-align: center;
	
	font-size:6.5vw;
	color:white;
	text-shadow:
		-.4vw -.4vw 0 black,
		 .4vw -.4vw 0 black,
		-.4vw  .4vw 0 black,
		 .4vw  .4vw 0 black;
}

#p_Resolution {
	position: absolute;
	font-size: 2.5vw;
	
	color:white;
	text-shadow:
		-.18vw -.18vw 0 black,
		 .18vw -.18vw 0 black,
		-.18vw  .18vw 0 black,
		 .18vw  .18vw 0 black;
	
		 text-align: center;
}

#p_SharpPixels {
	position: absolute;
	font-size: 2.5vw;
	
	color:white;
	text-shadow:
		-.18vw -.18vw 0 black,
		 .18vw -.18vw 0 black,
		-.18vw  .18vw 0 black,
		 .18vw  .18vw 0 black;
	
	text-align: center;
}

.btn_back {
	position: absolute;
	bottom: 5%;
	left: 5%;
	
	background-color: white;
	padding: 1.2% 2.5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	
	border: solid;
	border-width: 6px;
	border-color: #5acbff;
	
	font-family: Impact;
	color: black;
	font-size: 1.5vw;
	cursor: pointer;
	border-radius: 1vw;
}

#button1:hover, .btn_back:hover {
	transform: scale(1.2) perspective(1px);
	
}